# Ejercicio Pr치ctico de Koalas

In [1]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [3]:
import numpy as np
import pandas as pd
import pyspark.pandas as ps

### Funciones b치sicas

In [12]:
pser = pd.Series([1, 3, 5, np.nan, 6, 8]) 

## Crea una serie de Koalas con [1, 3, 5, np.nan, 6, 8]

kser = ps.Series(pser)

## Pasa la serie de pandas pser a Koalas con el nombre de kser

In [20]:
## Ordena kser por el index
kser = ps.DataFrame(pser, index = [1,2,3,4,5], columns= ['Conjunto'])
kser

   Conjunto
1       3.0
2       5.0
3       NaN
4       6.0
5       8.0

In [21]:
pdf = pd.DataFrame({'A': np.random.rand(5),
                    'B': np.random.rand(5)})
kdf = ps.from_pandas(pdf)
## Genera un Dataframe de Koalas con el pdf de pandas y llamalo kdf

### Visualizaci칩n de datos

In [24]:
## Describe los datos de kdf
kdf.describe()

              A         B
count  5.000000  5.000000
mean   0.599775  0.562358
std    0.202824  0.353684
min    0.285556  0.062035
25%    0.556435  0.451138
50%    0.644984  0.492539
75%    0.674980  0.884684
max    0.836922  0.921395

In [27]:
## Ordena los datos de kdf por la columna B
kdf.sort_values(by = 'B', ascending= True)

          A         B
3  0.644984  0.062035
0  0.836922  0.451138
1  0.556435  0.492539
2  0.285556  0.884684
4  0.674980  0.921395

In [26]:
## Transpon los datos de kdf
kdf.transpose()

          0         1         2         3         4
A  0.836922  0.556435  0.285556  0.644984  0.674980
B  0.451138  0.492539  0.884684  0.062035  0.921395

### Selecci칩n

In [29]:
## Selecciona las varaibles A y B de Kdf
selected_columns = kdf[['A', 'B']]
selected_columns

          A         B
0  0.836922  0.451138
1  0.556435  0.492539
2  0.285556  0.884684
3  0.644984  0.062035
4  0.674980  0.921395

In [120]:
## Selecciona las filas 1, 2 de kdf
selected_columns = kdf[['A', 'B']]

In [30]:
## Selecciona las filas 0, 1 y 2 de la variable B
result = kdf.loc[[0,1, 2], 'B']
result

0    0.451138
1    0.492539
2    0.884684
Name: B, dtype: float64

### Aplicando funciones de Python a Koalas

In [31]:
## Aplica la funcion de Python de np.cumsum a kdf
kdf['B'].cumsum()

0    0.451138
1    0.943677
2    1.828362
3    1.890397
4    2.811792
Name: B, dtype: float64

In [123]:
## Eleva al cuadrado los valores de kdf

### Agrupando datos

In [124]:
## Obten la suma de los valores al agrupar por A y por B

### Generando gr치ficos

In [106]:
# This is needed for visualizing plot on notebook
%matplotlib inline

In [129]:
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant',
         'rabbit', 'giraffe', 'coyote', 'horse']

kdf = ks.DataFrame({'speed': speed,
                   'lifespan': lifespan}, index=index)

## Genera un grafico de barras con kdf y matplotlib

In [128]:
kdf = ks.DataFrame({
    'sales': [3, 2, 3, 9, 10, 6, 3],
    'signups': [5, 5, 6, 12, 14, 13, 9],
    'visits': [20, 42, 28, 62, 81, 50, 90],
}, index=pd.date_range(start='2019/08/15', end='2020/03/09',
                       freq='M'))

## Genera un grafico de areas con kdf y matplotlib

### Utilizando SQL en Koalas

In [110]:
kdf = ks.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'pig': [20, 18, 489, 675, 1776],
                    'horse': [4, 25, 281, 600, 1900]})

In [127]:
## Con una consulta SQL selecciona los datos donde pig sea mayor que 100

In [112]:
pdf = pd.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'sheep': [22, 50, 121, 445, 791],
                    'chicken': [250, 326, 589, 1241, 2118]})

In [125]:
## Haz un inner join entre kdf y pdf en la vriable year, selecciona el pig y el chicken
## ordena los datos por pig y chicken

### Trabajando con PySpark

In [114]:
kdf = ks.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})

## Convierete el dataframe de Koalas a Dataframe de Spark
type(sdf)

pyspark.sql.dataframe.DataFrame

In [126]:
## muestra los datos